@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap');


@layer base {
  :root {
    --color-background: 0 0% 100%;
    --color-foreground: 220 15% 18%;
    --color-primary: 185 54% 43%;
    --color-primary-foreground: 0 0% 100%;
    --color-secondary: 184 40% 60%;
    --color-secondary-foreground: 0 0% 15%;
    --color-tertiary: 19 37% 45%;
    --color-tertiary-foreground: 0 0% 100%;
    --color-neutral: 39 38% 88%;
    --color-neutral-foreground: 220 15% 18%;
    --color-success: 147 47% 44%;
    --color-warning: 23 85% 45%;
    --color-border: 0 0% 90%;
    --color-input: 0 0% 90%;
    --color-ring: 185 54% 43%;
    --color-muted: 0 0% 96%;
    --color-muted-foreground: 0 0% 40%;
    --color-accent: 0 0% 96%;
    --color-accent-foreground: 220 15% 18%;
    --color-popover: 0 0% 100%;
    --color-popover-foreground: 220 15% 18%;
    --color-card: 0 0% 100%;
    --color-card-foreground: 220 15% 18%;
    --color-destructive: 0 84% 60%;
    --color-destructive-foreground: 0 0% 100%;

    --font-sans: "Vazirmatn", sans-serif;
    --font-headline: "Poppins", sans-serif;

    --radius: 8px;
  }

  * {
    border-color: hsl(var(--color-border));
  }



  html,
  body {
    background-color: hsl(var(--color-background));
    color: hsl(var(--color-foreground));
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headline);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}